<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.angcyo.opencv">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application>
        <activity android:name=".CardOcrScanActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize|fontScale|smallestScreenSize|density|screenLayout"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/BaseTranStatusTheme"
                  android:exported="false">
        </activity>
    </application>

</manifest>
